html {
  font-size: 16px;
  box-sizing: border-box;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.calculator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 480px;
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 120px 400px;
}

.calculator-keys {
  display: grid;
  grid-template-columns: 1fr 25%;
  width: 480px;
}

.calculator-screen {
  display: grid;
  color: #fff;
  background: #efefef;
  grid-column: 1 / 3;
  background: #333;
  border: none;
  text-align: right;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 2rem;
}

.keys,
.operators {
  display: flex;
  flex-flow: row wrap;
}

button {
  border: 0px;
  color: #fff;
  background: #121212;
  font-size: 1.2rem;
}

button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.keys button {
  flex: 1 0 33%;
}

.operators {
  border-left: 1px solid #333;
}

.operators button {
  flex: 100%;
}
